@*******************************************************************************
* Licensed to the Apache Software Foundation (ASF) under one or more		   *
* contributor license agreements.  See the NOTICE file distributed with	   *
* this work for additional information regarding copyright ownership.         *
* The ASF licenses this file to You under the Apache License, Version 2.0     *
* (the "License"); you may not use this file except in compliance with        *
* the License.  You may obtain a copy of the License at                       *
*                                                                             *
*    http://www.apache.org/licenses/LICENSE-2.0                               *
*																			   *
* Unless required by applicable law or agreed to in writing, software         *
* distributed under the License is distributed on an "AS IS" BASIS,           *
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.    *
* See the License for the specific language governing permissions and         *
* limitations under the License.											   *
*******************************************************************************@
@(userForm: play.data.Form[models.User], editUser: models.User)
@import helper._
@self("Edit Profile Page") {

<!--Navigation bar (Cite Bootstrap template)-->
<nav id="bar" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped once screen zoom out -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img alt="Logo" class="navbar-brand" src="/assets/image/logo.png">
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav nav-pills navbar-right">
                <li  class="nav-btn"><a href="mainpage"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                @if(!session.get("email")) {
                <form class="navbar-form navbar-right" action="@routes.Application.login()">
                    <button type="submit" class="btn btn-success">Log in</button>
                </form>
                } else {
                <li id="drop" class="dropdown nav-btn"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user"></span> My Account<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="@routes.UserController.homepage()">View Profile</a></li>
                        <li><a href="@routes.UserController.editProfile()">Edit Profile</a></li>
                        <li><a href="@routes.Application.logout()">Log out</a></li>
                    </ul>
                </li>
                }
            </ul>
        </div><!--/navbar-collapse-->
    </div><!--/container-fluid-->
</nav>

<div class="row">
    <div id="wrapper1" class="col-md-10 col-md-offset-1">
        <div id="profile1">
            <img id="photo" src="/assets/image/default.jpg" class="img-circle center-block" alt="photo">
            <p class="text-center"><strong><a href="homepage">@session.get("email")</a></strong></p>
            <p class="text-center">@session.get("firstName") @session.get("lastName")</p>
        </div>
    </div>
</div>

<div class="container">
<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    @helper.form(action = routes.UserController.editUser) {
    <form>
        <div class="form-group">
            <label>Affiliation: </label>
            <input type="text" name="affiliation" id="affiliation"
                   class="form-control" placeholder="@editUser.getAffiliation()"
                   value='@userForm("affiliation").value'>
        </div>
        <div class="form-group">
            <label>Title: </label>
            <input type="text" name="title" id="title" class="form-control"
                   placeholder="@editUser.getTitle()" value='@userForm("title").value'>
        </div>
        <div class="form-group">
            <label>Mailing Address: </label>
            <input type="text" name="mailingAddress" id="mailingAddress"
                   class="form-control" placeholder="@editUser.getMailingAddress()"
                   value='@userForm("mailingAddress").value'>
        </div>
        <div class="form-group">
            <label>Phone Number: </label>
            <input type="text" name="phoneNumber" id="phoneNumber"
                   class="form-control" placeholder="@editUser.getPhoneNumber()"
                   value='@userForm("phoneNumber").value'>
        </div>
        <div class="form-group">
            <label>Fax Number: </label>
            <input type="text" name="faxNumber" id="faxNumber"
                   class="form-control" placeholder="@editUser.getFaxNumber()"
                   value='@userForm("faxNumber").value'>
        </div>
        <div class="form-group">
            <label>Research Fields: </label>
            <input type="text" name="researchFields" id="researchFields"
                   class="form-control" placeholder="@editUser.getResearchFields()"
                   value='@userForm("researchFields").value'>
        </div>
        <div class="form-group">
            <label>Highest Degree: </label>
            <input type="text" name="highestDegree" id="highestDegree"
                   class="form-control" placeholder="@editUser.getHighestDegree()"
                   value='@userForm("highestDegree").value'>
        </div>

        <div class="actions row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <input type="submit" class="btn btn-primary btn-block" value="Submit">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <a href="@routes.UserController.homepage()" class="btn btn-success btn-block">Cancel</a>
            </div>
        </div>
    </form>
    }
</div>
</div>

}